// Colors
$primary: #3d5a80;
$secondary: #ee6c4d;
$success: #28a745;
$info: #17a2b8;
$warning: #ff9a52;
$danger: #dc3545;
$light: #e0fbfc;
$dark: #293241;

// Typography and Headings
$font-size-root: 16px;
$font-size-base: 0.875rem;
$font-family-base: 'Roboto', sans-serif;
$headings-font-family: 'Changa One', sans-serif;
$headings-font-weight: 700;
$headings-line-height: 1.2;
$headings-color: $dark;
